<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top  align-items-center">
    <div class="collapse navbar-collapse " id="navbarsExampleDefault">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="navbar-brand" routerLink="/">Home</a> 
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/interface">SmartinterfaceComponent</a>
        </li> -->
      </ul>
    </div>
  </nav>
  <mat-sidenav-container class="example-container" >
   
    <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
        <mat-sidenav-content>Main content</mat-sidenav-content>
    </mat-sidenav-container>
  