<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened [ngStyle]="{'width': '100px','padding':'10px','background':'#b3ccff'}">
        <button (click)="toggle1()" [ngStyle]="{'background':'#b3ff99'}">Item 1</button>
    </mat-sidenav>
    <mat-sidenav-content>

        <div *ngIf="item1">
            <div class="div-inline">
                <mat-form-field class="example-form-field" [ngStyle]="{'padding':'10px'}">
                    <input matInput type="text" placeholder="Clearable input" [(ngModel)]="value">
                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>


            <div class="example-button-row div-inline">
                <button mat-raised-button (click)="getIpaddress()">Basic</button>
            </div>
        </div>

        <div class="mat-elevation-z8" *ngIf="dataSource">
            <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="checked">
                    <th mat-header-cell *matHeaderCellDef>Check</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="systemName">
                    <th mat-header-cell *matHeaderCellDef> systemName. </th>
                    <td mat-cell *matCellDef="let element"> {{element.systemName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="systemAddress">
                    <th mat-header-cell *matHeaderCellDef> systemAddress </th>
                    <td mat-cell *matCellDef="let element"> {{element.systemAddress}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="systemTechName">
                    <th mat-header-cell *matHeaderCellDef> systemTechName </th>
                    <td mat-cell *matCellDef="let element"> {{element.systemTechName}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>